<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Novo Jogo</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>{{ titulo }}</h1>
        </div>
        <form>
          <fieldset>
            <div class="form-group" style="width:30%;border: 1px solid gold;">
              <!-- <label for="nome" style="width:100%;border: 1px solid black;">Nome:</label> -->
              <p style="width:20%;border: 1px solid black;">Nome:</p>
              <input type="text" id="nome" name="nome" class="form-control" style="width:70%;">
            </div>
            <div class="form-group">
              <label for="categoria" style="width:30%;border: 1px solid black;">Categoria:</label>
              <input type="text" id="categoria" name="categoria" class="form-control">
            </div>
            <div class="form-group">
              <label for="console">Console:  </label>
              <input type="text" id="console" name="console" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
          </fieldset>
        </form>
      </div>
</body>
</html>